<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="Refresh" content="60" />
    {% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cistern/style.css' %}" />

    <title>Cysterny{% block title %}{% endblock %}</title>
    {% block external %}
      {% endblock %}
  </head>
  <body>
    {% block header %}
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Index</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
            <li><a href="{% url 'cistern' %}">Podgląd floty</a></li>
               <li><a href="{% url 'create_order' %}">Złoż zamówienie</a></li>
             <li><a href="{% url 'order_list' %}">Przegląd zamówień</a></li>
               {% if user.is_authenticated %}
               <li><a href="{% url 'path_list' %}">Przegląd ścieżek</a></li>

               <li><a href="{% url 'calc' %}">Zarządzanie</a></li>
               {% endif %}

               </ul>
          <ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
              <p class="navbar-text">Zalogowany jako <a href="" class="navbar-link"><b>{{user.get_username}}</b></a></p>
                <li> <a class="navbar-link" href="{% url 'logout' %}" ><b>wyloguj się</b></a> </li>
    {% else %}
      <li><a class="navbar-link" href="{% url 'login' %}" ><b>zaloguj się</b></a></li>
{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

 <div id="inside">
    {% endblock %}
    {% block content %}
    {% endblock %}
 </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>