{% extends "cistern/base.html"%}
{% block title %} - Szczegóły cysterny {% endblock %}
{% block content %}

<div id="Cisterns">

<h1>Cysterna {{ cistern.name }}</h1>
<br>
    <div id="Cistern_img">

    <img src="{{ STATIC_URL }}/cistern/cistern_pics/{{cistern.no_containers}}.png" />

    </div>
    <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Some messages-->


        {% if fuel_container %}
    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-1">Typ paliwa</th>
            <th class="col-lg-1">Ładowność</th>
            <th class="col-lg-1">Załadowany</th>
            <th class="col-lg-1">Zamówienie</th>
        </tr>
        </thead>
        <tbody>
        {% for fc in cistern.fuelcontainer_set.all %}
      <tr>
          <td>{{ fc.type }}</td>
          <td>{{ fc.max_capacity }}</td>
          <td> {% if fc.is_loaded %}

<span class="label label-info">tak</span>


              {% else %}
              <span class="label label-default">nie</span>

              {% endif %}
          </td>
          <td> {% if fc.order %}
              <a href="{% url 'order_detail' fc.order.id %}"> {{ fc.order.data|date:"d.m.Y," }} {{ fc.order.data|time:"H:i" }} </a>
            <!--{{ fc.order.data|date:"d.m.Y, " }} {{ fc.order.data|time:"H:i" }} </td>-->
              {% endif %}
          <!--<td> {{ fc.order. }}</td>-->
          </tr>
        {% endfor %}
           </tbody>
        </table>
    {% else %}
    <p> Obecnie nie ma tu żadnego zbiornika. </p>
    {% endif %}
</div>

    {% endblock %}