{% extends "cistern/base.html"%}
{% block title %} - Index {% endblock %}
{% block content %}

<div id="Index">
    <h1> Cistern</h1>
       <h3> Witamy w systemie zarządzania zamówieniami </h3>

    <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Some messages-->
<div id="Index_txt">
<br>
        <p> Zamówienia można składać w zakładce złożenie zamówienia,
        można też śledzić stan zamówienia oraz trasę, którą będzie
    transportowane zamówienie. </p>
    <p> Informujemy, że zamówienia w danym dniu są zbierane do godziny 12:00.
        Zamówienia złożone później zostaną zrealizowane w dniu następnym.</p>
</div>
    <div id="right_logo">
    <img src="{{ STATIC_URL }}/cistern/cistern_pics/logo2.png" width="100%"/>
    </div>

</div>


    {% endblock %}