{% extends "cistern/base.html"%}
{% block title %} - Złoż zamówienie{% endblock %}
{% block content %}

<div id="OrderForm">
<h1>Złóż zamówienie</h1>
<p>
    Zamówienie zrealizujemy najszybciej jak to możliwe.
</p>
    <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Some messages-->
    </div>
<div class="container">
    {% load crispy_forms_tags %}
    {% crispy form %}
</div>
    {% endblock %}