{% extends "cistern/base.html"%}
{% block title %} - Szczegóły zamówienia {% endblock %}
{% block content %}

<div id="Cisterns">
<h1>Zamówienie</h1>
<div id="Order_detail">
    <table class="table">
                <thead>
        <tr>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Do: </td>
            <td> {{ order.to_city }} </td>
        </tr>
        <tr>
            <td> Typ paliwa: </td>
            <td>  {{ order.fuel_type }} </td>
        </tr>
        <tr>
            <td> Ilość: </td>
            <td> {{ order.order_capacity }} </td>
        </tr>
        <tr>
            <td> Data zamówienia:</td>
            <td> {{ order.data }}</td>
        </tr>
</tbody>
    </table>

</div>
    <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Some messages-->


{% if cisterns %}
    <p> Lista cystern obsługujących zamówienie</p> <br>
     <table class="table">
        <thead>
        <tr>
            <th class="col-lg-1">Nazwa</th>
            <th class="col-lg-1">Ładunek / Max</th>
            <th class="col-lg-1">Status</th>
            <th class="col-lg-1">Miasto</th>
            <th class="col-lg-1">Odległość</th>
            <th class="col-lg-1">Pozostały czas pracy</th>
        </tr>
        </thead>
        <tbody>
        {% for cistern in cisterns %}
      <tr>
          <td><a href="{% url 'cistern_detail' cistern.id %}"> {{ cistern.name }}</a></td>

          <td>{{ cistern.capacity }}  / {{ cistern.max_capacity }}</td>
          <td> {% if cistern.status == 0 %}
                <span class="label label-success">gotowy</span>
              {% else %}
              <span class="label label-info">w trasie</span>
              {% endif %}
          </td>
          <td>{{ cistern.last_location }}</td>
          <td>{{ cistern.distance_from }} km</td>
          <td> {{ cistern.remaining_time }} h</td>
          </tr>
        {% endfor %}
           </tbody>
        </table>
    {% else %}
    <p> Obecnie zadanie nie ma jeszcz przydzielonej cysterny </p>
    {% endif %}



</div>
    {% endblock %}