{% extends "cistern/base.html"%}
{% block title %} - Przegląd zamówień {% endblock %}
{% block content %}

<div id="Order">
<h1>Przegląd zamówień</h1>
    <div id="Index_txt">

<p>
    Tu można zobaczyć historię wszystkich zamówień.
</p>
        </div>
        </div>
        <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
        <!--Some messages-->

    {% if order_list %}
        <table class="table" width="50%">
        <thead>
        <tr>
            <th class="col-lg-2">Data zamówienia</th>
            <th class="col-lg-2">Dokąd</th>
            <th class="col-lg-1">Typ paliwa</th>
            <th class="col-lg-1">Ilość</th>
             <th class="col-lg-2">Stan realizacji</th>
        </tr>
        </thead>
        <tbody>

        {% for order in order_list %}
         <tr>
             <td><a href="{% url 'order_detail' order.id %}"> {{ order.data|date:"d.m.Y" }}, {{ order.data|time:"H:i" }} </a>
             </td>
             <td>{{ order.to_city.name }}</td>
             <td>{{ order.fuel_type }}</td>
             <td>{{ order.order_capacity}} </td>
             <td>{{ order.status}}</td>
         </tr>
    {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> Brak zamówień do wyświetlenia. </p>
    {% endif %}
</div>
    {% endblock %}