{% extends "cistern/base.html"%}
{% block title %} - Przegląd zamówień {% endblock %}
{% block content %}

<div id="Path">
<h1>Przegląd ścieżek</h1>
<div id="inside">
    <p>
    Tu można zobaczyć trasy cystern.
</p>

        <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

        <!--Some messages-->
<div id="Path_detail">


    {% if path_list %}
        <table class="table">
        <thead>
        <tr>
            <th class="col-lg-3">Cysterna</th>
            <th class="col-lg-3">Skąd</th>
            <th class="col-lg-1"></th>
             <th class="col-lg-3">Dokąd</th>
        </tr>
        </thead>
        <tbody>

        {% for path in path_list %}
        {% for cc in path.n_city.all %}

         <tr>
             <td><a href="{% url 'cistern_detail' path.cistern.id %}"> {{ path.cistern}} </a></td>
             <td> {{ cc.from_city }} </td>
             <td>
  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  </td>
             <td> {{ cc.to_city }}</td>
         </tr>
        {% endfor %}

    {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> Brak zamówień do wyświetlenia. </p>
    {% endif %}
</div>

</div>
    {% endblock %}