{% extends "cistern/base.html"%}
{% block title %} - Zarządzanie {% endblock %}
{% block content %}

<div id="Calc">
<h1>Potwierdź</h1>

    <!--Some messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Some messages-->
<div id="inside">
    <p>
    {{ msg_conf }}
    <div class="container">
    {% load crispy_forms_tags %}
    {% crispy form %}
</div>
    </div>
    </p>
</div>

    {% endblock %}