body {
    background-color: #FFFFFF;
	margin-top: 0px;

}

h1 {
    color: #2f849e;
    text-align: left;
    margin-top: 40px;
	margin-bottom: 40px;
}

table{
	margin-left:auto;
	margin-right:auto;
}

li, ul {
  list-style-type: none;
}

a {
  color: #2f849e;
}

#on_right {
	float: right;
	position: absolute;
	right: 3%;
	text-align: center;
}

#Task_log{
	font-family: "Courier New", monospace;
	margin-top: 40px;
	padding: 10px;
	border-style: solid;
}

.asteriskField {
    display: none;
}

#Order_detail {
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 20%;
	text-align: center;
    width: 40%
}

#Path_detail {
    position: relative;
    float: left;
	margin-top: 0px;
	left: 0px;
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
    width: 70%
}
#Cistern_img {
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: center;
    width: 99%
}

#Index_txt {
    position: relative;
    float: left;

    left: 0%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 10%;
	text-align: justify;
    width: 40%

}
#login {
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 40%;
}
#inside {
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
    width: 80%
}

#right_logo {
    float: right;
    right: 0%;
	margin-top: 40px;
    width: 40%
}
